@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: white;
}

body, nav{
    background-color: #232B2B;
}

#landing{
   height: 80vh;
}

#logo{
    width: 200px;
    height: 8vh;
}

.myName{
    font-size: 8em;
    font-weight: bold;
}