@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: white;
}

body, nav{
    background-color: #232B2B;
}

#main{
    overflow-x:auto;
    white-space: nowrap;
    /*overflow: hidden clear comment later*/;
}


#landing, #l2, #l3, #l4{
   height: 80vh;
   min-width: 100vw;
   margin-right: 500px;
}

#logo{
    width: 200px;
    height: 8vh;
}

.myName{
    font-weight: bold;
}

h1{
    font-size: 6vw;
}
h5{
    font-size: 2vw;
}
p{
    font-size: 1vw;
}